.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d9d9d9;
  text-align: center;
  /**/
  flex-direction: column;
  /**/
  width: 240px;
  height: 240px;
  position: relative;
  border-radius: 10px;
  margin: 30px 60px;
}

.hist {
  position: relative;
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
  left: 0px;
  width: 100vw;
}

.hist::-webkit-scrollbar {
  border-radius: 25px;
  background-color: #949292;
  height: 1vh;
}

.hist::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 25px;
}

.hist button {
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 25vw;
  border-style: none;
  margin: 10px;
  background-color: #bcbcbc;
}

.hist button h2 {
  text-align: center;
  width: 65px;
  font-size: small;
  font-weight: 900;
}

.lista a {
  border: 2px dashed red;
  padding: 5px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  max-width: 90%;
}

.lista h2 {
  text-align: center;
  height: fit-content;
  font-weight: 900;
  font-size: 25px;
}

.lista section article p {
  width: 80%;
  left: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  position: relative;
  text-align: center;
  top: -5vh;
}

.messi {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 210px;
}

.lista section article button {
  border-radius: 5px;
  border-style: none;
  background-color: whitesmoke;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 50px;
  margin: 0 1vw;
}

.sep {
  width: 100%;
  height: 0;
  position: relative;
}

.hw:hover {
  background-color: #80808080;
  color: #000;
  font-weight: 600;
  transition: all 0.2s;
}

.listadiv {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.listadiv button {
  border-style: double; /*- Defines a double border*/
  border-color: #000;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin: 0 5px 2vh 5px;
  background-color: whitesmoke;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 50px;
}

.listadiv h1 {
  margin-top: 2vh;
  font-family: serif;
}
.aaa {
  width: 100vw;
  margin: 3vh;
}

.undefined {
  display: none;
}

.vip {
  background-color: aquamarine;
}