.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.vip {
  background-color: aquamarine;
}